# Indexes
Options -Indexes

# Error Files
#ErrorDocument 403 /index.php?view=error-403
#ErrorDocument 404 /index.php?view=error-404

# Set php.ini
#php_flag
#php_value upload_max_filesize 5M

# Rewrite Rules
RewriteEngine On
RewriteRule ^([a-z-]+)$ index.php?view=$1 [NC]