@import "/view/css/common/def-form.css";
@import "/view/css/common/action-bar.css";
@import "/view/css/common/modal.css";

.def-form__container {
    flex: 1;
    display: flex;
    overflow: auto;
}

.def-form {
    margin: auto;
}

#email {
    width: 24ch;
}

#name,
#pass,
#match-pass {
    width: 12ch;
}

#pass,
#match-pass {
    font-weight: 600;
}